.textarea {
  position: relative;
}

.textarea__textarea {
  min-height: var(--control-size-L);
  border: 1px solid var(--grey-border);
  box-sizing: border-box;
  padding: 1.5em calc(var(--control-size-L) * .2) 0;
  font: var(--font-text);
  font-weight: 400;
  width: 100%;
  resize: vertical;
  background-color: var(--input-bg);
}



.textarea__label {
  position: absolute;
  left: calc(var(--control-size-L) * .2);
  top: .1em;
  font-size: .8rem;
}

.textarea__label_hidden {
  opacity: 0;
}

.textarea__clear {
  position: absolute;
  right: .25em;
  top: .25em;
}

.textarea__textarea:placeholder-shown~.textarea__clear,
.textarea:has(.textarea__textarea[disabled]) .textarea__clear {
  display: none;
}

.textarea:has(.textarea__textarea[disabled]) {
  opacity: .5;
}