.caption {
  text-wrap: pretty;
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  font-weight: var(--font-weight-caption);
  margin-block: var(--line-height-caption);
  margin-inline: var(--margin-inline-text);
}

.caption:first-child {
  margin-top: 0;
}

.caption:last-child {
  margin-bottom: 0;
}